*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;
}

:root {
    --apple-red: #dd13d3;
    --socials: #ff18f3;
    --bg-blue: #1F242D;
    --footer-dblue: #14171d;  
}

html {
    scroll-snap-type: y mandatory;
}

.main {
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(
                rgba(0,0,0,0.75),
                rgba(0,0,0,0.75)), 
                url(assets/rika.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    scroll-snap-align: start;
}

div .logo {
    position: relative;
}

.logo a {
    color:whitesmoke;
    font-size: 4.3rem;
    text-decoration: none;
    cursor: pointer;
    transition: 0.6s;
}

.logo a span {
    color: var(--apple-red);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 70px 100px; /*40px 100px*/
    transition: 0.5s;
    z-index: 1000;
}

nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    position: relative;
}

nav ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
    margin: 0 15px;
}

nav ul li a:hover,
nav ul li a.active {
    color: var(--apple-red);
}

nav.sticky {
    background: rgba(0,0,0,0.50);
    backdrop-filter: blur(10px);
    padding: 5px 100px;
}

.content {
   position: absolute;
   top: 50%;
   left: 8%;
   transform: translateY(-50%);
   color: whitesmoke;
}

.content h1 {
    font-size: 2em;
}

.content h2 {
    font-size: 5em;
    letter-spacing: 2px;
}

.content h3 {
    font-size: 2.4em;
}

.content h3 span {
    color: var(--apple-red);
    font-size: 1.2em;
}

.img-box {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 80px;
}

.img-box img {
    position: absolute;
    height: 110%;
    right: 0;
    bottom: 0;
    transition: right 1s;
}

.img-box:hover .hook {
    right: 50px;
}

.socials {
    position: absolute;
    top: 85%;
    left: 8%;
}

.socials a {
    text-decoration: none;
    color: var(--socials);
}

.socials a:hover {
    text-shadow: 0 0 10px #fff, 0 0 20px #ffffff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}

.socials a i {
    font-size: 3rem;
    padding: 5px 10px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: var(--apple-red);
}


/*Projects Section*/

.projects {
    height: 100vh;
    width: 100%;
    background: var(--bg-blue);
    background-size: cover;
    background-position: center;
    scroll-snap-align: start;
}


.cc {
    height: auto;
    width: 100%;
    background-color: var(--footer-dblue);
    backdrop-filter: blur(10px); /* nothing to blur for now */
    padding-top: 20px;  
    color: white;
    scroll-snap-align: start;
}

.terms {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.terms a {
    color: azure;
    font-size: 15px;
}

.terms h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.footer-bottom p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 15px;
}

.footer-socials {
    margin-top: 20px;
    display: flex;
    list-style: none;
}

.footer-socials li {
    margin: 0 10px;
    font-size: 20px;
}

.footer-socials i {
    font-size: 30px;
    color: var(--apple-red);
}

@media (max-width: 858px) {
.img-box {
    display: none;
}
}